.m-header {
  display: none;
  margin: 2rem 0;
  min-height: 2rem;
  width: 100%;
  background: #ff0;
}
.p-meta {
  font-family: -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
}
.p-meta .u-post-title {
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 14px;
  font-weight: 400;
}
.p-meta .u-post-metaspan {
  line-height: 20px;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 10px 0;
  font-size: 15px;
  color: rgba(0,0,0,0.3);
}
.p-meta a.u-post-metaspan {
  color: #576b95;
}
.m-article {
  margin: 2rem 0;
  min-height: 2rem;
  width: 100%;
  padding: 32px 16px 1rem;
  background: #fff;
}
.m-article .p-meta {
  font-family: -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
  margin-bottom: 22px;
}
.m-article .p-meta .u-post-title {
  display: block;
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 14px;
  font-weight: 400;
}
.m-article .p-meta .u-post-metaspan {
  line-height: 20px;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 10px 0;
  font-size: 15px;
  color: rgba(0,0,0,0.3);
}
.m-article .p-meta .u-post-metaspan.u-post-time {
  display: none;
}
.m-article .p-meta a.u-post-metaspan {
  color: #576b95;
}
.m-article .p-write {
  font-family: -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
  margin: 2rem 0;
  min-height: 2rem;
  width: 100%;
}
#post-content .p-tails {
  margin: 0.6em auto;
}
#post-content .p-tails .u-post-tag-list {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#post-content .p-tails .u-post-tag-list-item {
  display: inline-block;
  background: #eee;
  border-radius: 3px;
  margin: 0 0.25em;
  padding: 0 0.5em;
}
#post-content .p-tails .u-post-tag-list-item a {
  color: #666;
}
.m-section {
  margin: 2rem 0;
  min-height: 2rem;
  width: 100%;
  background: #ff0;
}
.m-section:before {
  content: attr(class);
}
@media screen and (max-width: 640px) {
  .m-section {
    margin: 0;
  }
}
.m-share {
  display: none;
}
.m-comment {
  display: none;
}
.m-related {
  display: none;
}
.m-footer {
  display: none;
}
