#post-content * {
  line-height: 1.6;
}
#post-content h1,
#post-content h2,
#post-content h3,
#post-content h4,
#post-content h5,
#post-content h6 {
  font-family: "STHeiti", "Microsoft YaHei", "SimHei";
}
#post-content hr {
  border: none;
  border-bottom: 1px solid #ddd;
}
#post-content > hr {
  margin: 2em 0;
}
#post-content a {
  border-bottom: 1px dotted #092;
  color: #092;
}
#post-content a:hover {
  border-bottom: 1px dotted #08f;
  color: #08f;
}
#post-content p {
  margin: 0.6em auto;
  vertical-align: middle;
}
#post-content ul,
#post-content ol {
  list-style-position: outside;
  margin: 1em 1em 1em 2.6em;
  padding: 0 0 0 1.6em;
}
#post-content ul ul,
#post-content ol ul,
#post-content ul ol,
#post-content ol ol {
  margin: 0.5em auto 0.5em 0.5em;
}
#post-content p code,
#post-content ul code,
#post-content ol code {
  padding: 1px 2px;
  margin: 0 2px;
  border: 1px dotted #ffef59;
  background-color: transparent;
  font-size: 0.9em;
  color: #c8971b;
}
#post-content p code:first-child,
#post-content ul code:first-child,
#post-content ol code:first-child {
  margin: 0 2px 0 0;
}
#post-content ul {
  list-style-type: disc;
}
#post-content ul ul {
  list-style-type: circle;
}
#post-content ul ul ul {
  list-style-type: square;
}
#post-content ol {
  list-style-type: decimal;
}
#post-content img {
  display: block;
  max-width: 90%;
  max-height: 500px;
  margin: 0.357142857142857rem auto;
}
@media screen and (min-width: 1200px) {
  #post-content img {
    max-height: 600px;
  }
}
#post-content blockquote {
  margin: 0.357142857142857rem auto;
  padding: 0.357142857142857rem 1.071428571428571rem;
  border: 1px dotted #aaa;
}
#post-content > table {
  margin: 0.5em auto;
  width: 100%;
  max-width: 100%;
  font-size: 0.9em;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#post-content > table thead {
  border-bottom: 1px dotted #ddd;
}
#post-content > table th,
#post-content > table td {
  line-height: 1.4;
  padding: 0.357142857142857rem;
}
@media screen and (max-width: 720px) {
  #post-content > table th,
  #post-content > table td {
    word-break: break-all;
  }
}
