#post-content * {
  line-height: 1.6;
}
#post-content h1,
#post-content h2,
#post-content h3,
#post-content h4,
#post-content h5,
#post-content h6 {
  font-family: -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
}
#post-content hr {
  border: none;
  border-bottom: 1px solid #ddd;
}
#post-content > hr {
  margin: 2em 0;
}
#post-content a {
  border-bottom: 1px dotted rgba(76,134,100,0.5);
  color: #4c8664;
}
#post-content a:hover {
  border-bottom: 1px dotted rgba(87,107,149,0.5);
  color: #576b95;
}
#post-content p {
  margin: 0.6em auto;
  vertical-align: middle;
}
#post-content ul,
#post-content ol {
  list-style-position: outside;
  margin: 0.6em 1em;
  padding: 0 0 0 1.6em;
}
#post-content ul ul,
#post-content ol ul,
#post-content ul ol,
#post-content ol ol {
  margin: 0.5em auto 0.5em 0.5em;
}
#post-content p code,
#post-content ul code,
#post-content ol code {
  padding: 1px 0.4em;
  margin: 0 0.4em;
  border-radius: 3px;
  background-color: #fffbd8;
  font-size: 0.95em;
  color: #a07402;
}
#post-content p code:first-child,
#post-content ul code:first-child,
#post-content ol code:first-child {
  margin: 0 2px 0 0;
}
#post-content ul {
  list-style-type: disc;
}
#post-content ul ul {
  list-style-type: circle;
}
#post-content ul ul ul {
  list-style-type: square;
}
#post-content ol {
  list-style-type: decimal;
}
#post-content img {
  display: block;
  max-width: 90%;
  max-height: 500px;
  margin: 0.357142857142857rem auto;
}
@media screen and (min-width: 1200px) {
  #post-content img {
    max-height: 600px;
  }
}
#post-content blockquote {
  margin: 0.6em auto;
  padding: 0.6em 0.6em 0.6em 1.5em;
  background: #fafafa;
  border-radius: 3px;
  border-left: 6px solid #f0f0f0;
  color: #666;
}
#post-content > table {
  margin: 0.5em auto;
  width: 100%;
  max-width: 100%;
  font-size: 0.9em;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#post-content > table thead {
  border-bottom: 1px dotted #ddd;
}
#post-content > table th,
#post-content > table td {
  line-height: 1.4;
  padding: 0.357142857142857rem;
}
@media screen and (max-width: 720px) {
  #post-content > table th,
  #post-content > table td {
    word-break: break-all;
  }
}
