* {
  transition: 0.2s all ease-out, 0.01s font-size;
}
a {
  color: #092;
}
img {
  max-width: 100%;
}
html {
  font-size: 10px;
}
body {
  animation: show 0.5s ease-out;
  font-size: 1.4rem;
  background-color: #eee;
  font-family: SimSun;
  -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 720px) {
  body {
    background-color: transparent;
  }
}
.header {
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(170,170,170,0.2);
  padding: 1.8rem 0 1.8rem;
  font-family: "STHeiti", "Microsoft YaHei", "SimHei";
}
@media screen and (max-width: 720px) {
  .header {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px dotted #ddd;
  }
}
.header .site-title-wrap {
  padding: 0 2rem;
}
.header .site-title {
  font-size: 2rem;
  color: #222;
}
.mainbox {
  max-width: 680px;
  margin: 0 auto;
  padding: 0.5rem 0;
  text-align: justify;
}
@media screen and (min-width: 1200px) {
  .mainbox {
    font-size: 1.6rem;
    max-width: 800px;
  }
}
@media screen and (min-width: 1560px) {
  .mainbox {
    font-size: 1.8rem;
    max-width: 1000px;
  }
}
.post-wrap,
.menu-wrap {
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(170,170,170,0.2);
  margin: 3rem auto;
  padding: 1.6rem 2.4rem;
  border-radius: 2px;
}
@media screen and (max-width: 720px) {
  .post-wrap,
  .menu-wrap {
    background-color: transparent;
    box-shadow: none;
  }
}
@media screen and (min-width: 1200px) {
  .post-wrap,
  .menu-wrap {
    padding: 2rem 3.2rem;
  }
}
.menu-wrap .catpostlist-meta {
  margin: 1.2rem auto 0.6rem;
}
.menu-wrap .catpostlist-meta .catpostlist-title-wrap {
  max-width: 28.799999999999997em;
  padding: 1rem 0 0.26rem;
  font-family: inhert;
  font-weight: bold;
}
.menu-wrap .catpostlist-meta .catpostlist-title-wrap .catpostlist-title {
  font-size: 1.4em;
}
.menu-wrap .catpostlist-content {
  margin: 0 auto 2.8em;
}
.menu-wrap .catpostlist-content .catpostlist-item {
  margin: 0 auto;
  max-width: 28.799999999999997em;
  padding: 1.2rem 0.24rem;
}
.menu-wrap .catpostlist-content .catpostlist-item .catpostlist-item-link {
  font-size: 1.2em;
  color: #000;
}
.menu-wrap .catpostlist-content .catpostlist-item .catpostlist-item-link:hover {
  color: #092;
}
.post-wrap .post-body {
  margin: 1.5rem auto;
}
.post-wrap .post-body .post-meta {
  margin: 0 auto 2rem;
}
.post-wrap .post-body .post-meta .post-title-wrap {
  margin: 0 auto;
  max-width: 28.799999999999997em;
  padding: 1rem 0 0.26rem;
  text-align: center;
  font-family: "STHeiti", "Microsoft YaHei", "SimHei";
}
.post-wrap .post-body .post-meta .post-title-wrap .post-title {
  font-size: 1.6em;
}
.post-wrap .post-body .post-meta .post-meta-detial-wrap {
  margin: 1rem auto;
  text-align: center;
  font-size: 0.8em;
  opacity: 0.5;
}
.post-wrap .post-body .post-meta .post-meta-detial-wrap > span {
  display: inline-block;
  margin: 0 0.5em 0 0;
}
.post-wrap .post-body .post-meta .post-meta-detial-wrap > span:first-child {
  margin: 0 0.5em;
}
.post-wrap .post-body .post-meta-footer-wrap {
  border-top: 1px dotted #ddd;
  margin: 2em 0 0;
}
.post-wrap .post-body .post-meta-footer-wrap .post-tag-list {
  padding: 0;
}
.post-wrap .post-body .post-meta-footer-wrap .post-tag-list .post-tag-list-item {
  display: inline-block;
  margin: 0 0.5em;
}
.post-wrap .post-body .post-meta-footer-wrap .post-tag-list > *:first-child {
  margin: 0 0.5em 0 0;
}
.catpostlist-wrap {
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(170,170,170,0.2);
  padding: 1em 0 2em;
}
@media screen and (max-width: 720px) {
  .catpostlist-wrap {
    background-color: transparent;
    box-shadow: none;
    border-top: 1px dotted #ddd;
  }
}
.catpostlist-body {
  margin: 1.5rem auto;
}
.catpostlist-body .catpostlist-meta {
  margin: 1rem auto 0.5rem;
}
.catpostlist-body .catpostlist-meta .catpostlist-title-wrap {
  margin: 0 auto;
  max-width: 24em;
  padding: 1rem 0 0.26rem;
  font-family: "STHeiti", "Microsoft YaHei", "SimHei";
  text-align: center;
}
@media screen and (max-width: 720px) {
  .catpostlist-body .catpostlist-meta .catpostlist-title-wrap {
    max-width: 90%;
  }
}
.catpostlist-body .catpostlist-meta .catpostlist-title-wrap .catpostlist-title {
  font-size: 1.15em;
}
.catpostlist-body .catpostlist-content .catpostlist-item {
  display: block;
  margin: 0 auto;
  max-width: 24em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 1rem 0.2rem;
  text-align: justify;
  border-bottom: 1px dotted #888;
}
.catpostlist-body .catpostlist-content .catpostlist-item:first-child {
  border-top: 1px solid #888;
}
.catpostlist-body .catpostlist-content .catpostlist-item:last-child {
  border-bottom: 1px solid #888;
}
@media screen and (max-width: 720px) {
  .catpostlist-body .catpostlist-content .catpostlist-item {
    max-width: 90%;
    border-bottom: 1px dotted #ddd;
  }
  .catpostlist-body .catpostlist-content .catpostlist-item:first-child {
    border-top: 1px solid #ddd;
  }
  .catpostlist-body .catpostlist-content .catpostlist-item:last-child {
    border-bottom: 1px solid #ddd;
  }
}
.catpostlist-body .catpostlist-content .catpostlist-item .catpostlist-item-link {
  font-size: 1em;
  color: #666;
}
.catpostlist-body .catpostlist-content .catpostlist-item .catpostlist-item-link:hover {
  color: #092;
}
#post-content * {
  line-height: 1.6;
}
#post-content h1,
#post-content h2,
#post-content h3,
#post-content h4,
#post-content h5,
#post-content h6 {
  font-family: "STHeiti", "Microsoft YaHei", "SimHei";
}
#post-content hr {
  border: none;
  border-bottom: 1px solid #ddd;
}
#post-content > hr {
  margin: 2em 0;
}
#post-content a {
  border-bottom: 1px dotted #092;
  color: #092;
}
#post-content a:hover {
  border-bottom: 1px dotted #08f;
  color: #08f;
}
#post-content p {
  margin: 0.6em auto;
  vertical-align: middle;
}
#post-content ul,
#post-content ol {
  list-style-position: outside;
  margin: 1em 1em 1em 2.6em;
  padding: 0 0 0 1.6em;
}
#post-content ul ul,
#post-content ol ul,
#post-content ul ol,
#post-content ol ol {
  margin: 0.5em auto 0.5em 0.5em;
}
#post-content p code,
#post-content ul code,
#post-content ol code {
  padding: 1px 2px;
  margin: 0 2px;
  border: 1px dotted #ffef59;
  background-color: transparent;
  font-size: 0.9em;
  color: #c8971b;
}
#post-content p code:first-child,
#post-content ul code:first-child,
#post-content ol code:first-child {
  margin: 0 2px 0 0;
}
#post-content ul {
  list-style-type: disc;
}
#post-content ul ul {
  list-style-type: circle;
}
#post-content ul ul ul {
  list-style-type: square;
}
#post-content ol {
  list-style-type: decimal;
}
#post-content img {
  display: block;
  max-width: 90%;
  max-height: 500px;
  margin: 0.5rem auto;
}
@media screen and (min-width: 1200px) {
  #post-content img {
    max-height: 600px;
  }
}
#post-content blockquote {
  margin: 0.5rem auto;
  padding: 0.5rem 1.5rem;
  border: 1px dotted #aaa;
}
#post-content > table {
  margin: 0.5em auto;
  width: 100%;
  max-width: 100%;
  font-size: 0.9em;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#post-content > table thead {
  border-bottom: 1px dotted #ddd;
}
#post-content > table th,
#post-content > table td {
  line-height: 1.4;
  padding: 0.5rem;
}
@media screen and (max-width: 720px) {
  #post-content > table th,
  #post-content > table td {
    word-break: break-all;
  }
}
figure.highlight {
  font-size: 0.9em;
  border: 1px dotted #aaa;
}
figure.highlight .gutter {
  border-right: 1px dotted #ddd;
}
figure.highlight pre {
  white-space: pre;
}
pre,
.highlight {
  overflow: auto;
  margin: 20px 0;
  padding: 0;
  font-size: $code-font-size;
  color: #4d4d4c;
  background: transparent;
  line-height: $line-height-code-block;
}
pre,
code {
  font-family: $code-font-family;
}
code {
  padding: 2px 4px;
  word-wrap: break-word;
  color: $code-foreground;
  background: $code-background;
  border-radius: $code-border-radius;
  font-size: $code-font-size;
}
pre code {
  padding: 0;
  color: #4d4d4c;
  background: none;
  text-shadow: none;
}
.highlight {
  border-radius: 1px;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 10px 0;
}
.highlight table {
  margin: 0;
  width: auto;
  border: none;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight figcaption {
  font-size: 1em;
  color: #4d4d4c;
  line-height: 1em;
  margin-bottom: 1em;
}
.highlight figcaption a {
  float: right;
  color: #4d4d4c;
}
.highlight figcaption a:hover {
  border-bottom-color: #4d4d4c;
}
.highlight .gutter pre {
  padding-left: 10px;
  padding-right: 10px;
  color: #869194;
  text-align: right;
  background-color: transparent;
}
.highlight .code pre {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
}
.highlight .line {
  height: 20px;
}
.gutter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gist table {
  width: auto;
}
.gist table td {
  border: none;
}
pre .deletion {
  background: #fdd;
}
pre .addition {
  background: #dfd;
}
pre .meta {
  color: #8959a8;
}
pre .comment {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant,
pre .command {
  color: #f5871f;
}
pre .ruby .class .title,
pre .css .rules .attribute,
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata,
pre .special,
pre .number,
pre .formula {
  color: #718c00;
}
pre .title,
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
@-moz-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
